<section class="hero">
    <div class="hero-content">
        <h1>Energía que impulsa el presente y construye el futuro</h1>
        <p>
            Soluciones energéticas innovadoras, eficientes y responsables con el medio ambiente.
        </p>
        <a href="#" class="btn-naranja">Conoce más</a>
    </div>
</section>
